<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create A New Activity</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/activityform.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/page_header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/buttons.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <!-- main content box -->
    <!-- OUTSIDE Logo -->
    <header>
        <h1 class="header_text">Get OUTSIDE</h1>
    </header>       
    <main>
        <!-- hamburger nav -->
        <div class="hamburger-menu">
            <input id="menu__toggle" type="checkbox" />
            <label class="menu__btn" for="menu__toggle">
                <span></span>
            </label>
            <ul class="menu__box">
                <li><a class="menu__item" href="/getoutside/myprofile">My Profile</a></li>
                <li><a class="menu__item" href="/getoutside/activities">Activities</a></li>
                <li><a class="menu__item" href="/getoutside/friends">Find Friends</a></li>
                <li><a class="menu__item" href="/logout">Log Out</a></li>
            </ul>
        </div>
        <!-- end hamburger nav -->
        <!-- TOPO Container -->
        <div class="background">
            <!-- Login Form Wrapper -->
            <div class="activity_form">
                <!-- header -->
                <h3>Create a new activity</h3>
                <!-- form start -->
                <form action='/getoutside/activities/new' method="POST">
                    <input type="hidden" name="user_id" value="{{session['user_id']}}">
                    <!-- Input 1 -->
                    <div class="text-start">
                        <!-- validation error return -->
                        {% with messages = get_flashed_messages(category_filter=["type"]) %}
                            {% if messages %}
                                {% for message in messages %}
                                    <label class="form_text" htmlfor="activity"><span class="error">{{message}}</span></label>
                                {% endfor %}
                            {% else %}
                                <label class="form_text" htmlfor="activity">Activity Type:</label>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <!-- dropdown menu -->
                    <div class="flex2">
                        <select name="activity">
                            <option value="">--Select Activity--</option>
                            {% if session['activity'] is defined %}
                            <option value="{{session['activity']}}" hidden selected >{{session['activity']}}</option>
                            {% endif%}
                            <option value="to the Gym">Gym</option>
                            <option value="Climbing">Climbing</option>
                            <option value="Cycling">Cycling</option>
                            <option value="Mtn. Biking">Mtn. Biking</option>
                            <option value="Disc Golfing">Disc Golfing</option>
                            <option value="Golfing">Golfing</option>
                            <option value="Hiking">Hiking</option>
                            <option value="Paddling">Paddling</option>
                            <option value="Rowing">Rowing</option>
                            <option value="Running">Running</option>
                            <option value="Skiing">Skiing</option>
                            <option value="Snowboarding">Snowboarding</option>
                            <option value="Snowshoeing">Snowshoeing</option>
                            <option value="Swimming">Swimming</option>
                        </select>
                    </div>
                    <!-- end dropdown menu -->
                    <!-- End Input 1 -->
                    <!-- Input 2 -->
                    <div class="text-start">
                        <!-- validation error return -->
                        {% with messages = get_flashed_messages(category_filter=["location"]) %}
                            {% if messages %}
                                {% for message in messages %}
                                    <label class="form_text" htmlfor="location"><span class="error">{{message}}</span></label>
                                {% endfor %}
                            {% else %}
                                <label class="form_text" htmlfor="location">Location:</label>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="flex2">
                        <input class="input_width" type="text" name="location" value="{{session['location']}}">
                    </div>
                    <!-- End Input 2 -->
                    <!-- Input  -->
                    <div class="text-start">
                        <!-- validation error return -->
                        {% with messages = get_flashed_messages(category_filter=["date"]) %}
                            {% if messages %}
                                {% for message in messages %}
                                    <label class="form_text" htmlfor="date"><span class="error">{{message}}</span></label>
                                {% endfor %}
                            {% else %}
                                <label class="form_text" htmlfor="date">Date:</label>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="flex2">
                        <input class="input_width" type="date" name="date" value="{{session['date']}}">
                    </div>
                    <div>
                    <!-- End Input 3 -->
                    <!-- Buttons -->
                    <div class="buttons">
                        <button type="submit" value="Login" class="button green">SUBMIT</button>
                        <a href="/getoutside/activities" class="button brown" role="button">CANCEL</a>
                    </div>
                    <!-- End buttons -->
                </form>
                <!--form END -->
            </div>
            <!-- END Login Form Wrapper -->
        </div>
        <!-- END TOPO Container -->
    </main>
</body>
</html>