<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>getOUTSIDE</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/landing_page.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>

        <!-- main wrapper -->
        <main>
            <h1 class="green">Hello, it's time to log off and Get OUTSIDE!</h1>
            <div class="flex">
                <h3>New here? Click to <a class="menu__item" href="/getoutside/register">Register</a></h3>
                <h3>Not your first time? <a class="menu__item" href="/getoutside/login">Login</a></h3>
            </div>
        </main>

</body>
</html>