<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update {{user.first_name}}'s Info</title>

    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/favicon/site.webmanifest">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/update.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/buttons.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/page_header.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    <!-- main wrapper -->
    <main>
        <!-- logo bar -->
        <header>
            <h1 class="header_text">Get OUTSIDE</h1>
        </header>
        <!-- hamburger nav -->
        <div class="hamburger-menu">
            <input id="menu__toggle" type="checkbox" />
            <label class="menu__btn" for="menu__toggle">
                <span></span>
            </label>
            <ul class="menu__box">
                <li><a class="menu__item" href="/getoutside/myprofile">My Profile</a></li>
                <li><a class="menu__item" href="/getoutside/activities">Activities</a></li>
                <li><a class="menu__item" href="/getoutside/friends">Find Friends</a></li>
                <li><a class="menu__item" href="/logout">Log Out</a></li>
            </ul>
        </div>
        <!-- end hamburger nav -->
        <!-- edit form start-->
        <form class="form_container" action="/getoutside/myprofile/edit" method="POST">
            <!-- title  -->
            <h1 class="title_text">Update {{user.first_name}}'s Information</h1>
            <!-- input 1 -->
            <div class="input_control">
                <!-- hidden id -->
                <input type="hidden" name="id" value="{{user.id}}">
                <!-- First Name -->
                {% with messages = get_flashed_messages(category_filter=["update_first_name"]) %}
                    {% if messages %}
                        {% for message in messages %}
                            <label for="first_name">Update First Name: <span class="error">{{message}}</span></label>
                        {% endfor %}
                    {% else %}
                        <label for="first_name">Update First Name:</label>
                    {% endif %}
                {% endwith %}
                <input class="input" type="text" name="first_name" placeholder="First Name" value="{{user.first_name}}" >
            </div>
            <!-- end input 1 -->
            <!-- input 2 -->
            <div class="input_control">
                <!-- Last Name -->
                {% with messages = get_flashed_messages(category_filter=["update_last_name"]) %}
                    {% if messages %}
                        {% for message in messages %}
                            <label for="last_name">Update Last Name: <span class="error">{{message}}</span></label>
                        {% endfor %}
                    {% else %}
                        <label for="last_name">Update First Name:</label>
                    {% endif %}
                {% endwith %}
                <input class="input" type="text" name="last_name" placeholder="Last Name" value="{{user.last_name}}" >
            </div>
            <!-- end input 2 -->
            <!-- input 3 -->
            <div class="input_control">
                {% with messages = get_flashed_messages(category_filter=["update_email"]) %}
                    {% if messages %}
                        {% for message in messages %}
                            <label for="email">Update Email: <span class="error">{{message}}</span></label>
                        {% endfor %}
                    {% else %}
                        <label for="email">Update Email:</label>
                    {% endif %}
                {% endwith %}
                <input class="input" type="email" name="email" placeholder="email" value="{{user.email}}">
            </div>  
            <!-- end input 3 -->
            <!-- buttons -->
            <div class="button_control">
                <!-- submit button -->
                <a href="/getoutside/myprofile" class="button green" role="button">CANCEL</a>
                <input class="button blue" type="submit" value="UPDATE">
                <a href="/getoutside/myprofile/delete" class="button brown" role="button">DELETE</a>
            </div>
            <!-- end buttons -->
        </form>
        <!-- end form -->
        <!-- image add form -->
        <form action="/getoutside/addimage" method="POST" enctype="multipart/form-data" class="form_container" >
            <!-- form title -->
            <h3 class="title_text">Add A Profile Image</h3>
            <!-- form errors -->
            <p>
                {% with messages = get_flashed_messages(category_filter=["image"]) %}
                    {% if messages %}
                        <ul>
                            {% for message in messages%}
                                <p class="error text-center">{{ message }}</p>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </p>
            <!-- form input -->
            <div class="flex_center">
                <input oninput="filesize(this);" type="file" class="input2 custom_file_input" name="image" id="image">
            </div>
            <!-- form buttons -->
            <div class="button_control">
                <input class="button blue" type="submit" value="Add Image">
                <a href="/getoutside/myprofile" class="button green" role="button">CANCEL</a>
            </div>
        </form>
        <!-- end image add form -->
    </main>
<script src="{{ url_for('static', filename='js/image.js') }}"></script>
</body>
</html>