.menu_trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 22%;
    left: -30px;
    height: 60px;
    width: 100px;
    padding-top: 10px;
    transform: rotate(270deg);
    cursor: pointer;
    border: 3px solid green;
    border-radius: 0 0 5px 5px ;
    background-color: honeydew;
    text-decoration: none;
    color: green;
}

.offcanvas{
    width: 325px;
    height:350px
}